/* Reset CSS*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-family: Arial, Helvetica, sans-serif; 
}
#header{
    height: 50px;
    background-color: black;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1; /* làm cho header nổi lên*/
}
#nav{
    display: inline-block;
}
#nav > li{
    display: inline-block;
}
#nav li{
    /* display: inline-block; inline là trên 1 hàng, block là khối */
    position: relative;
    list-style: none; /* bỏ ký hiệu trước chữ*/
}
#nav li:hover{
    background-color: gray;
}
#nav > li > a{
    text-transform: uppercase;
}
#nav li a{
    color: #fff;
    text-decoration: none; /* bỏ dấu gạch chân dưới chữ*/
    line-height: 50px; /* căn giữa theo chiều cao*/
    padding: 0 24px;
}
#nav li:hover .subnav{
    display: block; /* khi trỏ chuột vào thì hiện ra block*/
}
#nav .subnav{
    top: 100%;
    left: 0;
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* tạo bóng*/
}
#nav .subnav a{
    color: black;
    line-height: 30px;
}
#nav .icon-down{
    font-size: 13px;
}
#header .search-btn{
    float: right;
}
#header .search-btn:hover{
    background-color: red;
    cursor: pointer; /* đổi hình con trỏ chuột thành bàn tay*/
}
#header .search-icon{
    color: white;
    font-size: 18px;
    line-height: 50px;
    padding: 0 18px;
}

#slider{
    margin-top: 50px;
    padding-top: 50%;
    background-image: url('/project-f8/assets/img/slider/anime.jpg');
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
#slider .text-content{
    position: absolute;
    bottom: 20px;
    /* left: 50%;
    transform: translateX(-50%); */
    /* width: 100%; */
    right: 0;
    left: 0;
    text-align: center;
    color: blue;
}
#slider .text-heading{
    font-size: 30px;
}
#slider .text-description{
    font-size: 20px;
    margin-top: 3px;
}

.clear{
    clear: both;
}
#content .content-section{
    width: 800px;
    padding: 60px 0;
    margin-left: auto;
    margin-right: auto;
}
#content .section-heading{
    text-align: center;
    font-weight: 500; /* đọ dày mỏng của chữ*/
    letter-spacing: 4px; /* khoảng cách của chữ*/
}
#content .section-sub-heading{
    text-align: center;
    margin-top: 25px;
    opacity: 0.6; /* làm mờ chữ, có giá trị từ 0 => 1*/
}
#content .about-text{
    margin-top: 25px;
    text-align: justify;
    line-height: 1.6; /* khoảng cách giữa các dòng*/
}
#content .box-list{
    margin-top: 25px;
}
#content .box{
    width: 150px;
    height: 100px;
    float: left;
}
#content .item{
    margin-left: 70px;
}
#content .item1{
    margin-left: 105px;
}
#content .item2{
    margin-left: 105px;
}
#content .box-name{
    text-align: center;
}
#content img{
    margin-top: 10px;
    width: 100%;
    height: 100%;
    border-radius: 5px; /* bo góc*/
}